#center-controls {
    display: flex;
    justify-content: center;
}

.center {
    min-width: 0px;
    width: 65px;
    height: 55px;
}

#center-controls button,
#xy-control button,
#z-control button {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 2px;
}

.small-horizontal {
    min-width: 0px;
    height: 65px;
    width: 60px;
}

.medium-horizontal {
    min-width: 0;
    height: 85px;
    width: 70px;
}

.large-horizontal {
    min-width: 0;
    height: 105px;
    width: 80px;
}

.medium {
    width: 140px;
    height: 45px;
}

.large {
    width: 160px;
    height: 55px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column,
.column-axes {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 2px;
}

.content {
    background: rgba(0, 0, 0, .05);
    border: 1px solid rgba(0, 0, 0, .05);
}

.content p {
    padding: 0.5em;
    margin: 5px;
}

.column-axes p,
.column p {
    min-height: 20px;
}

@media only screen and (min-width: 801px) and (max-width: 1000px) {

    .column,
    .column-axes {
        flex-basis: calc(33% - 4px);
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {

    .center {
        min-width: 0px;
        width: 40px;
        height: 40px;
    }

    .small-horizontal {
        min-width: 0px;
        height: 50px;
        width: 40px;
    }

    .medium-horizontal {
        min-width: 0;
        height: 50px;
        width: 40px;
        font-size: 22px;
    }

    .large-horizontal {
        min-width: 0;
        height: 50px;
        width: 30px;
        font-size: 25px;
    }

    .medium {
        height: 40px;
        font-size: 22px;
    }

    .large {
        height: 55px;
        font-size: 25px;
    }

    .column {
        flex-basis: calc(50% - 4px);
    }

    .content label {
        min-height: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .optional {
        display: none;
    }

    .content label {
        min-height: 50px;
    }
}

.x-axe,
.y-axe,
.z-axe,
.a-axe,
.b-axe,
.c-axe,
.u-axe,
.v-axe,
.w-axe {
    display: none;
}